/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /*  -- bg --  */
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;

  /*  -- font-size --  */
  --main-font-family: "IBM Plex mono", "Courier New", Courier, serif;
  --main-font-size: 18px;
  --line-height-hero: 82.5%;
  --main-font-style: normal;
  --font-style-hero: bold;
  --main-font-weight: 400;
  --main-title-font-weight: 700;
  --main-line-height: 130%;

  /* -- colors -- */
  --main-color: #ff0070; /**/
  --main-text-color: #f1b2ce;
  --hero-footer-heading-color: #db00ff;
  --main-text-title-color: #000028;
  --accent-color: #ff0070; 
  --title-accent-color: #ff0070;
  --border-hover-color: rgba(255, 0, 112, 0.4);
  --border-button-accent: #ff0070;

  /* -- paddings --  */
  --padding-mobile: 10px;
  --padding-base: 20px;

  /* -- decoration --  */
  --decoration-display: block;
}
